<h1>Login</h1>
<form action='/auth/login' method='POST'>
  <input type='text' name='email' placeholder='Email: ' />
  <input type='text' name='pass' placeholder='Pass: ' />
  <input type='submit' value='Login' />
</form>

<a href='/auth/register'>Aun no tengo cuenta... registrarse</a>